body {
    background-color: #dfe6e9;
    height: 100%;
}

.right {
    line-height: 0.5 !important;
}

.showcount {
    display: inline !important;
}

#loding {
    display: none;
}

.headding {
    color: #636e72;
}

.tag {
    font-weight: bold;
    color: #2d3436;
}

.btn:focus,
input[type=text]:focus {
    box-shadow: none;
}